<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar and Form</title>
    <link rel="stylesheet" href="login.css">
 
</head>
<body>
<%- include("../components/navbar.ejs") %>
<% if(error){ %>
  <div style="background-Color:red" class="msg">
   <p> <%- error %></p> 
  </div>
<% } %>
<% if(success){ %>
  <div style="background-Color:green" class="msg">
    <p><%- success %></p> 
  </div>
<% } %>
<form action="/login" method="post">
 
  <h2 style="text-align: center; padding: 10px;">Login Form</h2>
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <p class="dont">if you don't have an account ? <br><a href="\register">Register</a></p>
    <input type="submit" value="Login">
    <a style="margin-left: 80px;" href="/forgotPassword">Forgot password</a>
</form>

<script>
  const msgBox = document.querySelector(".msg");
  setTimeout(() => {
    msgBox.remove();
    }, 3000);
</script>
</body>
</html>
