<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar and Form</title>
    <link rel="stylesheet" href="/register.css">
</head>
<body>
<%- include("../components/navbar.ejs") %>
<%- include("../components/messageBox.ejs") %>

<form action="/register" method="POST">
    <h2 style="text-align: center; padding: 10px;">SignUp Form</h2>
    <input type="text" name="username" placeholder="Username" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <p class="already">Already have an account ? <a href="/login">login</a></p>
    <input type="submit" value="Register">
</form>

<%- include("../../services/TimeOut") %>
</body>
</html>
