<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar and Form</title>
    <link rel="stylesheet" href="/login.css">
 
</head>
<body>
<%- include("../components/navbar.ejs") %>
<form action="/resetPassword/<%-user_otp %>" method="post">
  <h2 style="text-align: center; padding: 10px;">Create new password</h2>
    <input type="password" name="password" placeholder="Password" required>
    <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
    <p class="dont">Login with password<br><a href="\login">Login</a></p>
    <input type="submit" value="Change Password">
</form>

</body>
</html>
