<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="/register.css">
</head>
<body>
    <%- include("components/navbar.ejs") %>
   <form action="/blog" method="POST" enctype="multipart/form-data">
    <h2 style="text-align: center; padding: 10px;">Create your blog </h2>
    <img id="imgPreview" class="image-preview" src="" alt="Image Preview">
    <input onclick="removeFileName()" type="file" id="imgInput" name="image" placeholder="photo choose">
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="subtitle" placeholder="subtitle">
    <input type="textarea" name="description" placeholder="desc">
    <input type="submit" value="Create">
</form>

<script>
    const removeFileName = ()=>{
        document.getElementById("imgInput").value = " ";

    }
    document.getElementById('imgInput').addEventListener('change', function(event) {
            const file = event.target.files[0];
            const preview = document.getElementById('imgPreview');
            const input = document.getElementById('imgInput');

            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    preview.src = e.target.result;
                    preview.style.display = 'block';
                    
                }
                reader.readAsDataURL(file);
            } else {
                preview.src = '';
                preview.style.display = 'none';
            }
        });
</script>
</body>
</html>

