<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>questions</title>
    <link rel="stylesheet" href="/register.css">
</head>
<body>
    <%- include("../components/navbar.ejs") %>
   <form action="/answerEdit/<%-data[0].id%>" method="post">
    <h2 style="text-align: center; padding: 10px;">Edit Answer</h2>
   
    <textarea type="textarea" value="<%- data[0].answerText %>" cols="35" rows="10" name="answerText" ></textarea>
    <input type="submit" value="EDIT">
</form>