
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question Cards</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <%- include("../components/navbar") %>

    <div class="card-container">
       
            <div class="card">
                <div>
                    <img src="../../storage/1719816967017-me.png" alt="" height="300px" width="500px">
                </div>
                <h1>What is the Nepali name of Computer ?</h1>
                <h3>Description: The book is the very famous for the best motivati0onal workout</h3>
                <p>Author : </p>
            </div>
      


        <!-- Add more cards as needed -->
    </div>
</body>
</html>